
.navbar {
  background: #16a1e7;
}

ul {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  li {
    list-style-type: none;
    background-color: #16a1e7;
    :hover {
      cursor: pointer;
      background-color: #2284b4;
    }
  }
  a {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
  }
}
