<h3>Register new post</h3>
<form [formGroup]="addPostForm" (ngSubmit)="submitAddPost()">
  <div>
    <input formControlName="title" type="text" id="title">
    <label for="title"> Post title</label>
    <p *ngIf="this.addPostForm.get('title')?.invalid && this.addPostForm.get('title')?.touched"><small>Title is
        required</small></p>
  </div>

  <div>
    <input formControlName="description" type="text" id="description">
    <label for="description"> Description </label>
    <p *ngIf="this.addPostForm.get('description')?.invalid && this.addPostForm.get('description')?.touched">
      <small>description is required</small>
    </p>
  </div>

  <div>
    <input formControlName="author" type="email" id="author">
    <label for="author"> Author</label>
    <p *ngIf="this.addPostForm.get('author')?.invalid && this.addPostForm.get('author')?.touched"><small>author is
        required</small></p>
  </div>

  <div>
    <select formControlName="category">
      <option *ngFor="let c of categories" [ngValue]="c.title">
        {{ c.title }}
      </option>
    </select>
    <label for="category"> Post category</label>
  </div>

  <div>
    <textarea formControlName="text" id="text"></textarea>
    <label for="text"> Text</label>
    <p *ngIf="this.addPostForm.get('text')?.invalid && this.addPostForm.get('text')?.touched"><small>text is required
        (min. length = 8, at least one digit)</small></p>
  </div>

  <button [disabled]="addPostForm.invalid" type="submit">Add post</button>
</form>
