.post {
  margin: 5px;
  padding: 5px;
  border-right: 1px solid #16a1e7;
  border-bottom: 1px solid #16a1e7;
  border-radius: 5px;
  &:hover {
    box-shadow: 5px 5px #16a1e7;
  }
  &__icon {
    padding: 10px;
  }
}
