<header>
  <nav class="navbar">
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="./posts">Posts</a>
      </li>
      <li *ngFor="let category of categories">
        <a routerLinkActive="active" [routerLink]="'./categories/'+[category.title]">{{category.title |
          titlecase}}</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="./login">Login</a>
      </li>
    </ul>
  </nav>
</header>
<div class="spinner" *ngIf="displayLoadingIndicator"></div>
