<header>

    <div class="text-center">Menu</div>
    <nav class="navbar">
      <ul>
        <li>
          <a routerLinkActive="active" routerLink="./home">Home</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="./posts">Posts</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="./authors">Authors</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="./login">Login</a>
        </li>
      </ul>
    </nav>
</header>
